<!doctype html>
<html lang="en">
<head>
	<title>{{title}}</title>
	<meta charset="utf-8">
	<meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
	<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0">
	<!-- VENDOR CSS -->
	<link rel="stylesheet" href="/static/admin/vendor/bootstrap/css/bootstrap.min.css">
	<link rel="stylesheet" href="/static/admin/vendor/font-awesome/css/font-awesome.min.css">
	<link rel="stylesheet" href="/static/admin/vendor/linearicons/style.css">
    <link rel="stylesheet" href="/static/admin/vendor/chartist/css/chartist-custom.css">
	<!-- MAIN CSS -->
	<link rel="stylesheet" href="/static/admin/css/main.css">
	<link rel="stylesheet" href="/static/common/css.css">
	<!-- ICONS -->
	<link rel="apple-touch-icon" sizes="76x76" href="/static/admin/img/apple-icon.png">
	<link rel="icon" type="image/png" sizes="96x96" href="/static/admin/img/favicon.png">
    <!-- Javascript -->
	<script src="/static/admin/vendor/jquery/jquery.min.js"></script>
	<script src="/static/admin/vendor/bootstrap/js/bootstrap.min.js"></script>
	<script src="/static/common/validate1.16.0/jquery.validate.min.js"></script>
	<script src="/static/common/layer/layer.js"></script>
</head>
<body>
	{% block main %}
	{% endblock %}
</body>
</html>






